{% if site.avatar -%}
  <div class="sidebar-section">
    {%- if site.avatar contains "://" -%}
      {%- assign avatar = site.avatar -%}
    {%- else -%}
      {%- assign avatar = site.avatar | relative_url -%}
    {%- endif -%}
    <img src="{{ avatar }}" class="author-avatar u-photo align-center" alt="{{ site.author }}">
  </div>
{%- endif %}

<div class="sidebar-section">
  <ul class="contact-list">
    {% if site.author -%}
      <li>
        <i class="sidebar-icon fas fa-at"></i>
        <span class="contact-info p-name">{{ site.author | escape }}</span>
      </li>
    {%- endif %}
    {% if site.email -%}
      <li>
        <i class="sidebar-icon fas fa-envelope"></i>
        <a class="contact-info u-email" href="mailto:{{ site.email }}">Contact</a>
      </li>
    {%- endif %}
    {% if site.github -%}
      <li>
        <i class="sidebar-icon fab fa-github"></i>
        <a class="contact-info u-github" href="{{ site.github }}">Github</a>
      </li>
    {%- endif %}
    {% if site.docker -%}
      <li>
        <i class="sidebar-icon fab fa-docker"></i>
        <a class="contact-info u-github" href="{{ site.docker }}">Docker</a>
      </li>
    {%- endif %}
    {% if site.linkedin -%}
      <li>
        <i class="sidebar-icon fab fa-linkedin"></i>
        <a class="contact-info u-github" href="{{ site.linkedin }}">LinkedIn</a>
      </li>
    {%- endif %}
  </ul>
</div>

{% if site.data.social -%}
  <div class="sidebar-section"></div>
{%- endif %}
